.form {
  display: flex;
  flex-direction: column;
  width: 450px;
  padding: 1.5rem;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin: 2rem auto;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}

label {
  margin-bottom: 0.25rem;
}

input {
  margin-bottom: 1rem;
  padding: 0.4rem;
}
